# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/
out/
**/out/
build/
**/build/

# Environment variables
.env*.local
.env
**/.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
